<section class="footer">
  <div class="footer-wrapper">
    <div class="footer-menu">
      <ul class="">
            <li><a href="#accueil" class="footer-button">Accueil</a></li>
            <li><a href="#nfts" class="footer-button">NFTs</a></li>
            <li><a href="#projet" class="footer-button">Business Plan</a></li>
            <li><a href="#abonnement" class="footer-button">Packs</a></li>
            <li><a href="#roadmap" class="footer-button">RoadMap</a></li>
            <li><a href="#xrp" class="footer-button">XRP</a></li>
            <li><a href="#contact" class="footer-button">Contact</a></li>
      </ul>
    </div>
  </div>
</section>
