<section class="nft-section">
  <h1 id="nft">NFTs</h1>
  <h3>Série NFT populaire</h3>
  <!-- <form class="search">
    <input type="text" name="search" placeholder="&#x26B2;  Recherche NFTs" />
  </form> -->
  <div class="nfts" id="nfts">
    

    <div
      *ngFor="let nft of nfts"
      ng-app
      init="item = {nft.metadata.image_url: '', nft.metadata.id: '', nft.metadata.generation: '', nft.metadata.owner.address: ''}"
    >
      <div *ngIf="nft.metadata.image_url" class="nft">
        <div *ngIf="nft.metadata.id" class="id">{{ nft.metadata.id }}</div>
        <img src="{{ nft.metadata.image_url }}" alt="" />
        <p>{{ nft.metadata.name }}</p>
        <p *ngIf="nft.metadata.generation">
          Generation : {{ nft.metadata.generation }}
        </p>
        <div class="user">
          <div *ngIf="nft.metadata.owner.address" class="owner">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <p class="address">{{ nft.metadata.owner.address }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
