<section  class="nft-section">
    <h1 id="nft">NFTs</h1>
    <form class="search">
      <input
        type="text"
        name="search"
        placeholder="&#x26B2;  Recherche NFTs"
      />
    </form>
    <div class="nfts" id="nfts">
      <button class="slider-button left" id="slider-button-left"><</button>
      <button class="slider-button right" id="slider-button-right">></button>

      <div class="nft" *ngFor="let nft of nfts;">
        <img class="nft-image" src="{{nft.metadata.image}}" alt="">
          <p> {{nft.chain}} </p>
          <p> {{nft.metadata.name}}</p>
          <p> {{nft.metadata.description}}</p>
      </div>


      <!-- <div class="nft">
        <img src="../assets/images/nelf_logo.png" alt="" />
        <p>NFT test</p>
        <p>artist test</p>
      </div>
      <div class="nft">
        <img src="../assets/images/nelf_logo.png" alt="" />
        <p>NFT test</p>
        <p>artist test</p>
      </div>
      <div class="nft">
        <img src="../assets/images/nelf_logo.png" alt="" />
        <p>NFT test</p>
        <p>artist test</p>
      </div>
      <div class="nft">
        <img src="../assets/images/nelf_logo.png" alt="" />
        <p>NFT test</p>
        <p>artist test</p>
      </div>
      <div class="nft">
        <img src="../assets/images/nelf_logo.png" alt="" />
        <p>NFT test</p>
        <p>artist test</p>
      </div>
      <div class="nft">
        <img src="../assets/images/nelf_logo.png" alt="" />
        <p>NFT test</p>
        <p>artist test</p>
      </div>
      <div class="nft">
        <img src="../assets/images/nelf_logo.png" alt="" />
        <p>NFT test</p>
        <p>artist test</p>
      </div> --> -->
    </div>
  </section>