<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <section class="heading">
      <video autoplay loop class="back-video" muted plays-inline>
        <source src="../assets/Videos/bg.mov" type="video/mp4" />
      </video>
      <nav id="navbar" class="navbar">
        <div class="container-fluid justify-content-between">
          <div class="d-flex">
            <a
              class="navbar-brand me-2 mb-1 d-flex align-items-center"
              href="#"
            >
              <img
                class="logo"
                src="../assets/images/nelf_logo.png"
                height="20"
                alt="NELF Logo"
                loading="lazy"
                style="margin-top: 2px"
              />
            </a>
          </div>
          <ul class="navbar-nav flex-row">
            <li class="nav-item me-3 me-lg-1">
              <a class="nav-link d-sm-flex align-items-sm-center" href="#">
                <a href="#accueil" class="nav-button">Accueil</a>
                <a href="#nft" class="nav-button">NFTs</a>
                <a href="#projet" class="nav-button">projet</a>
                <a href="#roadmap" class="nav-button">roadmap</a>
                <a href="#contact" class="nav-button">Contact</a>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="content">
        <h1>NELF</h1>
        <h4>Nelf, la prochaine galerie d'art dédiée aux NFTs</h4>
        <a href="#projet" class="discover-btn">En savoir plus</a>
      </div>
    </section>

    <app-list-nfts></app-list-nfts>

    <section id="projet" class="projet">
      <h1>Business Plan</h1>
      <div class="projet-container">
        <div class="left-projet">
          <p>
            Notre business plan est composé : d'un système d'abonnements permettant l'accès à différentes fonctionnalités de notre plateforme, d'un système de référencement payant, et un système d'abonnement payant entre utilisateur (Un créateur de contenu certifié pourras recevoir des paiements sous la forme d'abonnements d'autres utilisateurs).
            À terme nous avons pour ambition de devenir une marketplace qui nous permettras de concurrencer les plus grandes plateformes de NFT.
          </p>
        </div>
        <div class="right-projet">
          <img src="../assets/images/nelf_logo.png" alt="" />
        </div>
      </div>
    </section>
    <section class="abonnement">
      <h1>Packs</h1>
      <div class="list-packs d-flex">
        <div class="pack">
          <div class="pack-img">
            <img src="../assets/images/nelf_logo.png" alt="" />
          </div>
          <h4>Abonnement NELF+</h4>
          <p>
            Cet abonnement permettra à un utilisateur de créer plus de salons,
            de mettre plus de NFT dans ses salons et d’avoir accès à
            des statiques avancées sur ses salons. Il permettra également
            de mettre un compte à rebours avant la sortie d'une collection
            et d'avoir un live chat sur ce genre de salons.
          </p>
        </div>
        <div class="pack">
          <div class="pack-img">
            <img src="../assets/images/nelf_logo.png" alt="" />
          </div>
          <h4>Abonnement NELF Prenium</h4>
          <p>
            Cet abonnement comporte tous les avantages que l'abonnement NELF+
            mais avec des avantages en plus tel que un accès au système de 
            référencement, un accès à des graphiques plus poussés sur ses salons,
            un support dédié et la possibilité d'avoir encore plus de salons et de NFTs.
          </p>
        </div>
        <div class="pack">
          <div class="pack-img">
            <img src="../assets/images/nelf_logo.png" alt="" />
          </div>
          <h4>Abonnement NELF Adulte</h4>
          <p>
            Cet abonnement permettra aux utilisateurs d'avoir accès aux salons et NFTs
            sensibles (après vérification de l'âge légale) et auront la possibilité
            d'afficher et d'exposer des NFTs pour adultes à condition que la mention
            "image sensible" soit indiquer lors de la création du salon.
          </p>
        </div>
      </div>
    </section>

    <section id="roadmap" class="roadmap">
      <h1>RoadMap</h1>

      <div class="roadmap-timeline">
        <ul class="timeline">
          <li class="event" data-date="PHASE #1">
            <h3>MARKETPLACE</h3>
            <p>
              Get here on time, it's first come first serve. Be late, get turned
              away.
            </p>
          </li>
          <li class="event" data-date="PHASE #2">
            <h3>COLLECTIONS NELF</h3>
            <p>
              Get ready for an exciting event, this will kick off in amazing
              fashion with MOP & Busta Rhymes as an opening show.
            </p>
          </li>
          <li class="event" data-date="PHASE #3">
            <h3>NFTs sur XRPL</h3>
            <p>
              This is where it all goes down. You will compete head to head with
              your friends and rivals. Get ready!
            </p>
          </li>
        </ul>
      </div>
    </section>
    <section id="xrp" class="xrp">
      <h1>XRP</h1>
      <div class="xrp-wrapper">
        <div class="xrp-desc">
          <div class="pack-img">
            <img src="../assets/images/xrplogo.png" alt="" />
          </div>
          <h4>XRP Title</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
            temporibus officiis ab ullam a natus perferendis iusto minus
            corporis culpa, porro iste vero ipsa aliquam inventore repudiandae
            placeat numquam molestias.
          </p>
          <h4>XRP Title</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
            temporibus officiis ab ullam a natus perferendis iusto minus
            corporis culpa, porro iste vero ipsa aliquam inventore repudiandae
            placeat numquam molestias.
          </p>
        </div>
        <div class="xrp-container">
          <div class="xrp-chart">
            <iframe
              src="https://widget.coinlib.io/widget?type=chart&theme=dark&coin_id=619&pref_coin_id=1506"
              width="100%"
              height="536px"
              scrolling="auto"
              marginwidth="0"
              marginheight="0"
              frameborder="0"
              border="0"
              style="border: 0; margin: 0; padding: 0; line-height: 14px"
            ></iframe>
          </div>
        </div>
      </div>
    </section>
    <app-contact></app-contact>
    <app-footer></app-footer>
    <script>
      window.onscroll = function () {
        myFunction();
      };

      var navbar = document.getElementById("navbar");

      var sticky = navbar.offsetTop;

      function myFunction() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky");
        } else {
          navbar.classList.remove("sticky");
        }
      }
    </script>
  </body>
</html>
